@import './base.css';

/*start header*/
.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 1.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    background-color: #F4F4F4;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .logo img {
    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}

.header nav a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.header .auth a {
    font-family: var(--subFont);
    padding: 10px 40px;
    border-radius: 7px;
}

.header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-child {
    background-color: var(--mainColor);
    color: #fff;
}


/*end header*/

/*start footer*/

.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}
.footer a{ 
    color: #fff;
}
.footer .row{
 gap: 45px;
}
.footer .start_footer , .footer .end_footer{
    width: calc( ( 100% - 45px ) / 2 );
}
.start_footer{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 gap: 30px;
}
.footer .start_footer .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .start_footer .logo img{
    width: 35px;
}
.footer .start_footer .logo a{
    font-size: 14px;
}
.footer .start_footer p
{color: #F4F4F4;
    line-height: 30px;
font-size: 14px;
font-weight: 200;
}
.footer .start_footer .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer .start_footer .icons img{

    border: 1px solid #F4F4F4;
    width: 20px;
    height: 20px;
    padding: 10px;
    box-sizing: content-box;

}
.footer .end_footer .row{
    align-items: flex-start;
}
.end_footer .footer_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.end_footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.end_footer ul a{

    line-height: 30px;
    font-size: 14px;
    font-weight: 200; 
}
